*{
    box-sizing: border-box;
}

body{
    background: gray;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container{
    position: relative;
    width: 352px;
    height: 198px;
    outline: 1px solid greenyellow;
    margin: 20px auto 0;
}


